body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .book {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  #loginForm {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #loginForm h2 {
    margin-top: 0;
  }
  
  #loginForm input {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
  }
  
  #loginForm button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #loginForm button:hover {
    background-color: #0056b3;
  }
  
  