body {
  font-family: Arial, sans-serif; /* Set the font family for the body */
  margin: 0; /* Remove default margin */
  padding: 20px; /* Add padding to the body */
}

h1 {
  text-align: left; /* Align h1 text to the left */
}

.book {
  border: 1px solid #ccc; /* Add a border to the book container */
  padding: 10px; /* Add padding inside the book container */
  margin-bottom: 10px; /* Add margin at the bottom of each book */
}

.label {
  font-weight: normal; /* Set the font weight of labels to normal */
  color: #777; /* Set the color of labels to a lighter gray */
}

.value {
  color: #999; /* Set the color of values to a lighter gray */
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
  .book {
    padding: 8px; /* Reduce padding inside the book container for smaller screens */
    margin-bottom: 8px; /* Reduce margin at the bottom of each book for smaller screens */
  }
}

/* Styles for search form */
#searchForm {
  margin-bottom: 20px;
}

#searchForm h2 {
  margin-top: 0;
  color: #000; /* Set search label color to black */
}

#searchForm input[type="text"],
#searchForm button {
  margin: 0; /* Remove margin */
  display: inline-block; /* Display input fields and button inline */
}

/* Styles for librarian login form */
#loginForm h2 {
  color: #000; /* Set librarian login title color to black */
}

/* Styles for librarian actions */
#librarianActions h2 {
  color: #007bff; /* Set librarian actions title color to blue */
}

/* Stylish buttons for librarian actions */
#librarianActions button {
  background-color: #007bff; /* Set button background color to blue */
  color: #fff; /* Set button text color to white */
  border: none; /* Remove button border */
  padding: 10px 20px; /* Add padding to button */
  margin-right: 10px; /* Add margin to separate buttons */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px; /* Add border radius to button */
}

#librarianActions button:hover {
  background-color: #0056b3; /* Darken button background color on hover */
}





















